# Directory for building and pre-installing packages.
# State files are created here too.
# WORKDIR=$(HOME)/hpb/work

# Directory for storing packages
# PKGDIR=$(HOME)/hpb/packages

# Directory for keeping downloaded sources
# SRCDIR=$(HOME)/hpb/sources

# Directory to store toolchain
# TOOLSDIR=$(HOME)/hpb/tools

# Options to pass to make when building package
# MAKEOPTS=-j2

# vi: ft=make
